.reviews {
    background-color: #f8f9fa;
  }
  
 
  
  .title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  
  .reviewList {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .reviewCard {
    background: white;
    padding: 40px;
    border-radius: 20px;
    width: 300px;
    height: 200px;
    text-align: left;
  }
  
  .reviewName {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .reviewText {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .reviewRating {
    color: #bababa;
    font-size: 12px;
    
  }
  
  .allReviewsButton {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
  }
  
  .allReviewsButton:hover {
    background: #292929;
    color: #ffffff;
    text-decoration:  none;
  }
  