body {
  background-color: #f8f9fa;
}

.container {
  max-width: 1200px; /* Ограничиваем ширину */
  width: 100%;
  margin: 0 auto; /* Центрируем */
  padding: 0 20px; /* Добавляем небольшие отступы по бокам */
}

/* Делаем так, чтобы все секции внутри автоматически имели контейнер */
section, header, footer {
  display: flex;
  justify-content: center;
  width: 100%;
}

section > div,
header > div,
footer > div {
  width: 100%;
  max-width: 1200px; /* Центрируем контент */
  padding: 0 20px;
}
